@tailwind base;
@tailwind components;
@tailwind utilities;

body.light,
body {
  background: #f1f5f9;
}

/* body.dark {
  background: #0f172a;
} */
/* body.dark .header-wrap{
    background: #0f172a;
  } */

.light .icon,
.icon {
  height: 70%;
  width: 70%;
  color: #111;
}

.dark .icon {
  color: #f1f1f1;
}

#sun-btn,
#moon-btn,
#laptop-btn {
  display: flex;
  position: relative;
}
:is(#sun-btn, #moon-btn, #laptop-btn):focus {
  outline: none;
}
:is(#sun-btn, #moon-btn, #laptop-btn)[aria-checked="true"] {
  background: rgb(127 127 127 / 0.2);
  border-radius: 0.6rem;
}

/* #sun-btn {
  display: none;
} */

@media (prefers-color-scheme: dark) {
  #sun-btn {
    display: flex;
  }
  #moon-btn {
    display: none;
  }
  body {
    background: #0f172a;
  }
  .icon {
    color: #f1f1f1;
  }
}
.user-btn {
    width: 40px !important;
    margin-left: auto;
    float: right;
    border-radius: 50% !important;
    height: 40px !important;
    padding: 6px 10px !important;
    background-color: #42529f !important;
    color: #fff !important;
}
div#headlessui-menu-items-117 {
    margin-top: 50px;
}
.header-wrap {
    padding: 15px 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #d6d6d6;
}
.top-wrap {
    padding: 20px 50px;
    background-color: red;
    background: linear-gradient(to right, #a65156 0%,#674a70 100%);
}
.menu-wrap i {
    font-size: 25px;
    color: #fff;
    margin-right: 15px;
    padding-top: 15px;
}
.top-wrap h6 {
    font-size: 20px;
    color: #f8f8f8;
    font-weight: 700;
    /* padding-top: 17px; */
}
h6.tit {
    padding-top: 20px;
    text-transform: uppercase;
}
.oxygen span p {
    margin-top: -30px !important;
}
.oxygen ul li:nth-child(2) {
    padding-left: 20px;
}
.top-wrap p{
   font-size: 17px;
    color: #f8f8f8;
}
.dual ul li {
    background: linear-gradient(to right, #374484 0%,#42529e 100%);
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 7px;
}
.dual ul li a{
  color: #fff;
}
.dual ul li a:hover {
    text-decoration: none;
}
.impact-section {
    padding: 30px 0px;
}
.dual {
    padding-top: 15px;
}
.dual ul li:hover {
    background: linear-gradient(to right, #a65156 0%,#c56066 100%);
    text-decoration: none !important;
}
.pie-section {
    margin: 30px 0px;
    /* border: 2px solid #f5f5f5;
    border-radius: 5px; */
}
.values {
    margin: 5px 0px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 3px 6px 0px #dedfe25e;
    position: relative;
    background-color: #fff;
    height: 100%;
}
.values h5 {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}
.values h6 {
    color: #323232;
    font-size: 22px;
    font-weight: 700;
    padding-top: 15px;
}
.values h6 span {
    font-size: 15px;
    font-weight: 400;
    padding-left: 16px;
    color: #a1a1a1;
}
.values h4 {
  display: ;
  text-align: end;
  top: 11px;
  position: absolute;
  right: 15px !important;
  border-radius: 50px;
  width: 56px;
  height: 56px;
  font-size: 20px;
  padding: 15px 9px;
}
h4.num1 {
  background-color: #f8dde8;
  color: #934d69;

}
h4.num{
  background-color: #ffe6e6;
  color: #a65156;

}
h4.num2 {
  background-color: #f9e7f8;
  color: #774e74;
}
h4.num3 {
  background-color: #eee9fc;
  color: #584f73;
  padding: 15px 14px;
}
h4.num4 {
  background-color: #d8e4f8;
  color: #3d4d69;
  padding: 15px 14px;
}
h4.num5 {
  background-color: #d2e9f8;
  color: #2f4858;
  padding: 15px 14px;
}
.box {
  min-height: 45px;
}
.te {
  background: linear-gradient(to right, #394483 0%,#744b6b 100%);
  border-radius: 8px;
  border: none;
  padding: 30px 20px;
  margin-top: 34px;
  height: auto;
}
h4.num7 {
  background-color: #e3e0e324;
  color: #fff;
  padding: 15px 14px;
  padding: ;
  height: 65px;
  width: 65px;
  padding: 20px 14px;
  top: 30px;
  right: 50px !important;
}
.te h5 {
  color: #fff;
  padding-top: 13px;
}
.heading h3{
  color: #494949;
  font-size: 20px;
  font-weight: 600;
  //padding-bottom: 20px;
}
.evolution-section h3 {
  min-height: 60px;
}
.tex {
  background: linear-gradient(to right, #394483 0%,#744b6b 100%);
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  margin-top: 34px;
}
.tex h5 {
  color: #fff;
  padding-top: 13px;
}
.tex h4.num7 {
  top: 12px;
}
table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 2px solid #efefef;
}
table tbody tr {
  vertical-align: baseline;
  border-bottom: 1px solid #dee2e6;
  background-color: #f8f8f8;
}
table tbody td {
  vertical-align: baseline;
  border-right: 1px solid #dee2e6;
  color: #4f4f4f;
  font-size: 15px;
  padding: 10px;
}
thead {
  background-color: #384583;
}
table thead th {
  vertical-align: baseline;
  border-bottom: 0px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  font-size: 15px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  padding: 10px;
}
.para {
  background-color: #a65156;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
}
.theme-color {
    margin-left: auto;
}



@media screen and (max-width: 1280px) {
	.values h5 {
  font-size: 16px;
}
.heading h3 {
  font-size: 20px;
}
}
@media screen and (max-width: 1080px) {
.header-top ul li {
  font-size: 14px;
}
.right-contents h4 {
  width: 42%;
}
.nav-link {
  padding: 0.5rem 0rem;
}
.values h4 {
  right: 9px !important;
  width: 43px;
  height: 43px;
  font-size: 16px;
  padding: 11px 7px;
}
.top-wrap p {
  font-size: 16px;
}
.values h6 span {
  font-size: 14px;
  padding-left: 7px;
}
.values h6 {
  font-size: 18px;
}
.te .num7 {
  right: 25px !important;
  top: 40px !important;
}
.table thead th {
  font-size: 12px;
}
.tex h4.num7 {
  top: 12px;
  right: 30px !important;
  font-size: 14px;
}
.table tbody td {
  font-size: 11px;
}
}
@media screen and (max-width: 1024px) {
.header-top ul li:last-child {
  margin-left: 30px;
}
.right-contents h4 {
  width: 46%;
}
.heading h3 {
  font-size: 16px;
}
.nav-item ul li a {
  font-size: 15px;
}
.values h5 {
  font-size: 15px;
}
.table thead th {
  font-size: 11px;
}
.content {
  width: 77%;
  margin-right: 18px;
}
}


@media screen and (max-width: 820px) {

	
.header-top ul {
  margin-left: -35px;
}
.header-top ul li {
  font-size: 11px;
}
.top-wrap h6 {
  font-size: 17px;
}
.nav-item ul {
  padding-left: 15px;
}
h6.tit {
  padding-top: 0px;
}
.dual ul li a {
  font-size: 14px;
}
.dual ul li {
  padding: 7px 11px;
}
.col-md-6 {
  padding-right: 5px;
  padding-left: 5px;
}
.values h4 {
  right: 4px !important;
  width: 35px;
  height: 35px;
  font-size: 14px;
  padding: 9px 5px;
}
.values h5 {
  font-size: 13px;
}
.content {
  width: 79%;
  margin-right: 6px;
}
.values h6 span {
  font-size: 11px;
  padding-left: 7px;
}
.te {
  padding: 20px 7px;
  margin-top: 34px;
}
.nav-item a span {
  font-size: 15px;
}
.col-md-4 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.tex {
  padding: 10px 8px;
}
.para {
  font-size: 13px;
}
}


@media screen and (max-width: 767px) {
    li.opcion-con-desplegable span {
        font-size: 7px;
    }
    ul.desplegable li a {
        font-size: 7px;
    }
#menu-action {
  display: inline-block;
  float: left;
  width: 77px;
  height: 50px;
  line-height: 50px;
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#menu-action.active span {
  display: inline;
  width: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
  top: -4px;
}
#menu-action i {
  display: inline-block;
  margin: 0 5px;
  font-size: 25px;
  padding-top: 20px;
}

#menu-action span {
  width: 0px;
  display: none;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 97px;
  height: 100%;
  width: 53px;
  padding: 0px;
  overflow: auto;
}
.sidebar ul li a {
  text-decoration: none;
  color: #fff;
}


.sidebar.active {
  width: 230px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.sidebar.hovered {
  width: 330px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.sidebar  ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: none;
  display: block;
}
.sidebar ul ul li {
  display: inline-flex;
  padding: 5px 0px;
}

.sidebar ul li.active, .sidebar ul li:hover {
  background-color: transparent;
}
.sidebar ul li a {
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  padding-left: 12px;
  text-decoration: none;
}
.dual ul {
  display: block !important;
}
.values h4 {
  right: 15px !important;
}
.box {
  min-height: auto;
}
.te {
  padding: 20px 20px;
  margin-top: 34px;
}
.te .num7 {
  right: 25px !important;
  top: 30px !important;
}
.impact-section {
  padding: 10px 0px;
}
.evolution-section h3 {
  min-height: 30px;
}
.tex h4.num7 {
  right: 45px !important;
  top: 19px;
}
.dual ul li {
  margin-bottom: 14px;
}
.content {
  width: 88%;
  margin-right: 0px;
}
.nav-item a span {
  font-size: 15px;
  padding-left: 20px;
}
.fa.fa-bars {
  margin-left: -20px !important;
}
.fa.fa-close {
  margin-left: -20px !important;
}
.sidebar ul li a i {
  margin-left: 10px;
}

.sidebar ul.sub-menu {
  display: none;
  margin-left: 45px;
}
.sidebar .sub-menu li {
  //padding: 10px;
}
.main {
  position: relative;
  display: block;
  top: 0px;
  left: 0;
  padding: 0px 0px 0px 60px;

}
.main.active {
  //padding-left: 275px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.sidebar .menu {
  width: 100%;
  height: 80px;
}


.header-wrap {
  width: auto;
  margin-right: 0;
  //background-color: #fff;
  padding: 10px;
}
.logout {
  left: 15px;
}
.logout a {
  padding-left: 20px;
  display: none;
}
.sidebar.active .logout a{
  display: initial !important;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  overflow: hidden;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  //margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}
.right-menu.text-end {
  padding-top: 0px;
}
i.fa.fa-user {
  font-size: 18px;
}
.modal-open .modal {
  margin-top: 100px;
  z-index: 9999999;
}
.top-wrap {
    padding: 20px 20px !important;
}
}
@media screen and (max-width: 420px) {
  

}

@media screen and (max-width: 390px) {

}
@media screen and (max-width: 375px) {
	
}
@media screen and (max-width: 360px) {
 
}
@media screen and (max-width: 320px) {

	
}